@model IEnumerable<ProyectoJorgeManzano.Models.EquipoModelo>

@{
    ViewData["Title"] = "EquiposPorPais";
}

<h1>EquiposPorPais</h1>
<div>
    <h2>Pais: </h2>
    <p>Nombre: @ViewBag.pais.countryName</p>
    <p>Bandera: <img src="@ViewBag.pais.countryFlag" style="width: 150px;" /></p>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.founded)
            </th>
            <th>
                Logo
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.founded)
            </td>
            <td>
                <img src="@item.logo" style="width: 150px" />
            </td>           
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
